
.infoTekst
{
    width: 50%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    color:  rgb(28, 70, 85);
    background-color: rgba(255, 237, 232, 0.7);
}


.mailLink
{
    text-decoration: none;
    color: rgb(28, 70, 85);
}

img{
    width: 20%;
}

.wrapper
{
    background-image: url("/assets/keuze-018.jpg");
}
