<div class="wrapper">
        <div class=infoTekst>
            <h3>Poel 7</h3>
            <h3>9000 Gent</h3>
            <h3>België</h3>
            <br>
            <h3><mat-icon>local_phone</mat-icon> 092654470</h3>
            <h3><mat-icon>phone_iphone</mat-icon> 0497161085</h3>
            <a  target="_blank" class="mailLink" href="mailto:laurabracke.madonna@gmail.com">
                <h3 class="" src="assets/mail.png"><mat-icon>email</mat-icon> laurabracke.madonna@gmail.com</h3>
            </a>
            <br>
            <h3>dinsdag tot vrijdag 12 tot 22u</h3>
        </div>
</div>
