.logos
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img{
    width: 20%;
}

.wrapper
{
    background-image: url("/assets/keuze-018.jpg");
}

h3
{
    text-shadow: 1px 1px #173945;
}