<div class="wrapper">
    <div class="titleWrapper">
        <h1 class="title">Info</h1>
      </div>
    <div class="content">
        <div class="filler"></div>
        <div class="tekst">
            <h3>Madonna restaurant, bar en feestzaal</h3>
            <h3>Poel 7 9000 Gent</h3>
            <h3><mat-icon>local_phone</mat-icon> 092654470</h3>
            <h3><mat-icon>phone_iphone</mat-icon> 0497161085</h3>
            <h3>dinsdag tot vrijdag 12 tot 22u</h3>
            <div class="logos">
                <a target="_blank" href="https://www.facebook.com/MadonnaGent/">
                    <img src="assets/fb.png">
                </a>
                <a target="_blank" href="https://www.instagram.com/restaurant_madonna/">
                    <img src="assets/ig.png">
                </a>
                <a target="_blank" href="https://www.tripadvisor.be/Restaurant_Review-g188666-d19601148-Reviews-Madonna-Ghent_East_Flanders_Province.html">
                    <img src="assets/ta.png">
                </a>
                <a target="_blank" href="mailto:laurabracke.madonna@gmail.com">
                    <img src="assets/mail.png">
                </a>
            </div>
        </div>
    </div>
</div>
