<div class="wrapper">
        <div class=infoTekst>
            <h5 style="margin-bottom: 3rem; font-weight: 700;">dinsdag tot vrijdag 12 tot 22u</h5>
            <h5>Poel 7, 9000 Gent</h5>
            <br>
            <h5> 092654470</h5>
            <h5> 0497161085</h5>
            <a  target="_blank" class="mailLink" href="mailto:laurabracke.madonna@gmail.com">
                <h5 class="" src="assets/mail.png"> madonna@gmail.com</h5>
            </a>
            <br>

            
            <br>
            
        </div>
</div>
<!-- 
<mat-icon>local_phone</mat-icon>
<mat-icon>phone_iphone</mat-icon>
<mat-icon>email</mat-icon> -->
