<!-- <div class="wrapper">
    <div class="shade">
        <div class="tekst">
            <h1>Restaurant</h1>
            <p>Madonna creëert wekelijks een fijne kaart met groenten in de hoofdrol.</p>
            <p>‘s Middags kan u lunchen, of een kleiner gerecht kiezen; ‘s avonds proeft u de hele waaier.</p> 
            <p>Ongewoon bijzonder.</p>
            <p>keuken 12-14u30 en 18-21u</p>
        </div>
    </div>
</div> -->

<div class="banner">
    <img class="bannerImg" src="/assets/restaurantGrootBg.jpg">
    <div class="titleWrapper">
      <h1 class="title">Restaurant</h1>
    </div>
  </div>
  <div class="content">
    <div class="tekst">
        <p>Madonna creëert wekelijks een fijne kaart met groenten in de hoofdrol.</p>
        <p>‘s Middags kan u lunchen, of een kleiner gerecht kiezen; ‘s avonds proeft u de hele waaier.</p> 
        <p>Ongewoon bijzonder.</p>
        <p>keuken 12-14u30 en 18-21u</p>
    </div>
  </div>


