
.photo
{
    background-image: url("/assets/keuze-080.jpg");
}

.text
{
    background-color: #9fb890;
}

@media screen and (max-width: 768px)
{
    .wrapper
    {
        background-image: url("/assets/restaurantKleinBg.jpg");
    }

    
}
