<!-- <div class=wrapper>
    <div class="shade">
        <div class="tekst">
            <h1>Feesten</h1>
            <p>voorbeelden van gerechten staan met een *; kan wijzigen naar seizoen, smaak, feestwensen</p>
            <h3>receptie</h3>
                <h4>ontvangst</h4>
                <ul>
                    <li>*soldaten en tacochips met *paprikahummus</li>
                    <li>*venkel-artisjokcreme</li>
                    <li>*bietensalsa</li>
                    <li>*gemarineerde olijven</li>
                    <li>*groentepekels</li>
                </ul>
            <h4>hapjes</h4>
            <ul>
                <li>*gefrituurde kikkererwtenballetjes met citroen-sesamsaus</li>
                <li>*warm toastje met kool, mosterdzaad en lente-ui</li>
                <li>*glaasje couscoussalade (met gepekelde bloemkool en watermeloen)</li>
                <li>*komkommerhapje met tofu en zeewier</li>
                <li>*tomatengazpacho met basilicumijs</li>
                <li>*polenta met geroosterde paprika en gerookte dressing</li>
            </ul>
            <h3>groot feest: trouw,...</h3>
            <h4>buffet</h4>
            <ul>
                <li>*gegrilde watermeloen met bloemkool en basilicum</li>
                <li>*salade van courgettespaghetti en gepekelde citroen</li>
                <li>*gepofte 3-kleurenbieten</li>
                <li>*kropsla met vinaigrette en dragon</li>
                <li>*gebakken wortels met uien</li>
                <li>*pastasalade met tomaat en gepofte look</li>
                <li>*bulgur met tarwe, gepekelde rode kool en radijsjes</li>
                <li>*in open vuur gepofte aardappel</li>
                <li>*aardappelfrietjes</li>
                <li>*rozemarijn-polentakroketjes</li>
                <li>*risottoballetjes</li>
                <li>*springroll met gemarineerde tofu</li>
                <li>*wrap met gerookte aubergine, krokante sla en granaatappel</li>
                <li>*erwtendip</li>
                <li>*komkommerdip</li>
                <li>*kruiden-sesamsaus</li>
                <li>*veganaise</li>
                <li>*cocktailsaus</li>
            </ul>
            <p>bediening aan tafel</p>
            <p>seizoensaanbod</p>
            
            <h3>dessert</h3>
            <ul>
                <li>*brownie met chocoladeganache</li>
                <li>*kaastaart met frambozencoulis</li>
                <li>*wortelcake</li>
                <li>*appelcrème met kokoscrumble</li>
                <li>*rabarbertaart</li>
                <li>*fruitsla</li>
                <li>*haverkoekjes</li>
            </ul>
        </div>
    </div>
</div> -->

<div class="banner">
    <img class="bannerImg" src="/assets/formulesGrootBg.jpg">
    <div class="titleWrapper">
      <h1 class="title">Formules</h1>
    </div>
  </div>
  <div class="content">
    <div class="tekst">
        <p>voorbeelden van gerechten staan met een *; kan wijzigen naar seizoen, smaak, feestwensen</p>
        <h3>receptie</h3>
            <h4>ontvangst</h4>
            <ul>
                <li>*soldaten en tacochips met *paprikahummus</li>
                <li>*venkel-artisjokcreme</li>
                <li>*bietensalsa</li>
                <li>*gemarineerde olijven</li>
                <li>*groentepekels</li>
            </ul>
        <h4>hapjes</h4>
        <ul>
            <li>*gefrituurde kikkererwtenballetjes met citroen-sesamsaus</li>
            <li>*warm toastje met kool, mosterdzaad en lente-ui</li>
            <li>*glaasje couscoussalade (met gepekelde bloemkool en watermeloen)</li>
            <li>*komkommerhapje met tofu en zeewier</li>
            <li>*tomatengazpacho met basilicumijs</li>
            <li>*polenta met geroosterde paprika en gerookte dressing</li>
        </ul>
        <h3>groot feest: trouw,...</h3>
        <h4>buffet</h4>
        <ul>
            <li>*gegrilde watermeloen met bloemkool en basilicum</li>
            <li>*salade van courgettespaghetti en gepekelde citroen</li>
            <li>*gepofte 3-kleurenbieten</li>
            <li>*kropsla met vinaigrette en dragon</li>
            <li>*gebakken wortels met uien</li>
            <li>*pastasalade met tomaat en gepofte look</li>
            <li>*bulgur met tarwe, gepekelde rode kool en radijsjes</li>
            <li>*in open vuur gepofte aardappel</li>
            <li>*aardappelfrietjes</li>
            <li>*rozemarijn-polentakroketjes</li>
            <li>*risottoballetjes</li>
            <li>*springroll met gemarineerde tofu</li>
            <li>*wrap met gerookte aubergine, krokante sla en granaatappel</li>
            <li>*erwtendip</li>
            <li>*komkommerdip</li>
            <li>*kruiden-sesamsaus</li>
            <li>*veganaise</li>
            <li>*cocktailsaus</li>
        </ul>
        <p>bediening aan tafel</p>
        <p>seizoensaanbod</p>
        
        <h3>dessert</h3>
        <ul>
            <li>*brownie met chocoladeganache</li>
            <li>*kaastaart met frambozencoulis</li>
            <li>*wortelcake</li>
            <li>*appelcrème met kokoscrumble</li>
            <li>*rabarbertaart</li>
            <li>*fruitsla</li>
            <li>*haverkoekjes</li>
        </ul>
    </div>
  </div>
