footer
{
        
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        background-color: #eee;
        justify-content: space-evenly;
        margin-top: auto;
        width: 100%;
        z-index: 1000;
       
}

.knop
{
    border-radius: 0;
}


span
{
 color: #aaa;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0 0 0 0 ;
    width: 100%;
    max-width: unset;
}

.mad
{
    width:170px;
    z-index: 100;
    margin: 1%;
}


.nav
{
    margin-top: 1%;
    height: 5vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.bigNav
{
    width: 25%;
}

.smallNav
{
    width: 15%;
}

.logos
{
    width: 15%;
    height: 6%;
    position: fixed;
    bottom: 5%;
    right: 0;
    display: flex;
    flex-direction: row;
}

.logoImg
{
    height: 100%;
}



