


span
{
 color: #aaa;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0 0 0 0 ;
    width: 100%;
    max-width: unset;
}

.mad
{
    width:170px;
    z-index: 100;
    margin: 1%;
}




.logos
{
    width: 15%;
    height: 36px;
    position: fixed;
    bottom: 5%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 10;
}

.lichtgroen
{
    background-color: #a0b991;
}

.groen
{
    background-color: #708363;
}

.geel
{
    background-color: #f1dc5f;
}

.lichtgeel
{
    background-color: #f1cb60;
}

.roze
{
    background-color: #e08269;
}

.oranje
{
    background-color:  #ee603c;
}

.logoImg
{
    height: 26px;
}

.logoBtn
{
    height: 36px;
    width: 36px;
    padding: 5px 5px 5px 5px;
    
    border-radius: 2px;

}


.arrow
{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5%

}

.logo{
    padding: 0;
}

/* .navAchtergrond
{
    background-image: url("/assets/hu.jpg") !important;
    background-size: 100%;
    background-position-y: -100%;
} */






