


span
{
 color: #aaa;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0 0 0 0 ;
    width: 100%;
    max-width: unset;
}

.logos
{
    width: 40px;
    position: fixed;
    bottom: 2px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.logoImg
{
    height: 26px;
    padding: 0px 0px 0px 0px;
    
    
}

.logoBtn
{
    /* height: 36px; */
    width: 40px;
    padding: 10px 0px 10px 0px;
    border-radius: 2px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.arrow
{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5%

}

.logo{
    padding: 0;
    margin: 0;
    /* margin-right: calc(2.5% - 13px);
    margin-left: calc(2.5% - 13px); */
}


.mad
{
    z-index: 100;
    width: 150px;
}






