<!-- <div class="wrapper">
    <div class="content">
      <div class="filler"></div>
        <div class="tekst">
            <p>Heerlijk lokaal bier, aparte wijnen, huisgemaakte limonades, zelfgekozen kruidenthees.</p>  
            <p>Genieten met een glas op het terras, of een warme avond in onze zetels.</p>
            <p>12-23u</p>
        </div>
    </div>
    
</div> -->

<div class="wrapper">
  <div class="photo">

  </div>
  <div class="filler"></div>
  <div class="text">
    <p>Heerlijk lokaal bier, aparte wijnen, huisgemaakte limonades, zelfgekozen kruidenthees.</p>  
            <p>Genieten met een glas op het terras, of een warme avond in onze zetels.</p>
    <p>12-23u</p>
  </div>
</div>


<!-- <div class="banner">
    <img class="bannerImg" src="/assets/barGrootBg.jpg">
    <div class="titleWrapper">
      <h1 class="title">Bar</h1>
    </div>
  </div>
  <div class="content">
    <div class="tekst">
        <p>Heerlijk lokaal bier, aparte wijnen, huisgemaakte limonades, zelfgekozen kruidenthees.</p>  
        <p>Genieten met een glas op het terras, of een warme avond in onze zetels.</p>
        <p>12-23u</p>
    </div>
  </div> -->
