.wrapper
{
    display: flex;
    min-height: 100vh;
    background-image: url("/assets/barGrootBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 768px)
{
    .wrapper
    {
        background-image: url("/assets/barKleinBg.jpg");
    }

    
}