.wrapper
{
    display: flex;
    min-height: 100vh;
    background-image: url("/assets/feestzaalGrootBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p
{
    color: #f1cb60;
}

h1
{
    color: #f1cb60;
}


@media screen and (max-width: 768px)
{
    .wrapper
    {
        background-image: url("/assets/feestzaalKleinBg.jpg");
    }

    
}