.wrapper
{
    display: flex;
    min-height: 100vh;
    background-image: url("/assets/feestzaalGrootBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    text-shadow: 1px 1px #173945;
    font-weight: 300;
    font-size: 38px;
}

h3{
    text-shadow: 1px 1px #173945;
    
    font-weight: 300;
    font-size: 35px;
}

h4{
    text-shadow: 1px 1px #173945;
    font-weight: 300;
    font-size: 32px;
}

.line
{
    border-top: white solid 2px;
    width: 100%;
    box-shadow: 1px 1px #173945;
}

.kleiner
{
    font-size: 20px;
}

p, li{
    font-size: 27px;
}


@media screen and (max-width: 768px)
{
    .wrapper
    {
        background-image: url("/assets/feestzaalKleinBg.jpg");
    }

    
}