<div class="wrapper">
    <div class="shade">
        <div class="tekst">
            <h1>Feestzaal</h1>
            <p>Feest en samenzijn op maat, voor uw bedrijf, uw vrienden, uw familie.</p>
            <p>Word verliefd op onze monumentale zaal en vraag ons wat wij voor u kunnen betekenen. Bijzonder graag gedaan.</p>
            <p>feest waarbij de decoratie, de hapjes en drankjes helemaal tot in het detail bij u passen. Geen vraag te gek. </p>
            <p>Metamorfose.</p> 
            <p>Feest van uitnodiging tot bedanking, of minder, of meer.</p>  
            <p>Met of zonder feest’manager’</p> 
            <p>recepties, rouwmaaltijden, (verjaardags)fuiven, trouwfeesten, babyborrels, familiefeesten, </p>
        </div>    
    </div>
   
</div>
