
.photo
{
    background-image: url("/assets/keuze-023.jpg");
}

.text
{
    background-color: #f1cb60;
}

.navAchtergrond
{
    
}


@media screen and (max-width: 768px)
{
    .wrapper
    {
        background-image: url("/assets/homeKleinBg.jpg");
    }

    
    

    
}

