
<!-- <ngb-carousel *ngIf="images != null">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random first slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random first slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[3]" alt="Random first slide">
        </div>
      </ng-template>
</ngb-carousel> -->

<!-- <div class="wrapper">
  <div class="shade">
    <div class="tekst">
      <h2>Verwent verzorgd</h2>
      <p class="break">Werkt met eerlijke versheid van dichtbij</p>
      <p>Kiest bewust voor kwaliteit, en vaak voor bio</p>
      <p>Tovert uit de natuur en uit liefde lekkers op tafel</p>
      <p>Elke week mee met het seizoen en met de kunsten van de kok</p>
      <p>Huis- en handgemaakt zijn de wachtwoorden</p>
      <p>Met integere wijnen, verrassende bieren door lokale brouwers en eigen limonades</p>
      <p class="break">De drie vrouwen van Madonna ontvangen u van harte en met persoonlijke zwier</p>
      <p>In restaurant, bar, feestzaal en terras bieden we u de ruimte</p>
      <p>Dit alles ter bevordering van het levensgenot</p>
    </div>
  </div>
  
  
</div> -->

<!-- <div class="banner">
  <img class="bannerImg" src="assets/homeGrootBg.jpg">
  <div class="titleWrapper">
    <h1 class="title">Verwent verzorgd</h1>
  </div>
 
</div> -->



<!-- <div class="wrapper">
  <div class="photo">
  </div>
  <div class="content">
    <div class="filler"></div>
    <div class="tekst">
      <p style="font-style: italic;">Verwent verzorgd</p>
      <p>Werkt met eerlijke versheid van dichtbij</p>
      <p>Kiest bewust voor kwaliteit, en vaak voor bio</p>
      <p>Tovert uit de natuur en uit liefde lekkers op tafel</p>
      <p>Elke week mee met het seizoen</p>
      <p>en met de kunsten van de kok</p>
      <p>Huis- en handgemaakt zijn de wachtwoorden</p>
      <p>Met integere wijnen, verrassende bieren door lokale brouwers en eigen limonades</p>
      <p class="break">De drie vrouwen van Madonna ontvangen u van harte en met persoonlijke zwier</p>
      <p>In restaurant, bar, feestzaal en terras</p>
      <p>bieden we u de ruimte</p>
      <p>Dit alles ter bevordering van het levensgenot</p>
    </div>
  </div>
</div> -->


<div class="wrapper">
  <div class="photo">

  </div>
  <div class="filler"></div>
  <div class="text">
      <p>Verwent verzorgd</p>
      <p>Werkt met eerlijke versheid van dichtbij</p>
      <p>Kiest bewust voor kwaliteit, en vaak voor bio</p>
      <p>Tovert uit de natuur en uit liefde lekkers op tafel</p>
      <p>Elke week mee met het seizoen</p>
      <p>en met de kunsten van de kok</p>
      <p>Huis- en handgemaakt zijn de wachtwoorden</p>
      <p>Met integere wijnen, verrassende bieren door lokale brouwers en eigen limonades</p>
      <p class="break">De drie vrouwen van Madonna ontvangen u van harte en met persoonlijke zwier</p>
      <p>In restaurant, bar, feestzaal en terras</p>
      <p>bieden we u de ruimte</p>
      <p>Dit alles ter bevordering van het levensgenot</p>
  </div>
</div>
