<div class="wrapper">
  <div class="photo">

  </div>
  <div class="filler"></div>
  <div class="text">
      <p>Verwent verzorgd</p>
      <p>Werkt met eerlijke versheid van dichtbij</p>
      <p>Kiest bewust voor kwaliteit, en vaak voor bio</p>
      <p>Tovert uit de natuur en uit liefde lekkers op tafel</p>
      <p>Elke week mee met het seizoen</p>
      <p>en met de kunsten van de kok</p>
      <p>Huis- en handgemaakt zijn de wachtwoorden</p>
      <p>Met integere wijnen, verrassende bieren door lokale brouwers en eigen limonades</p>
      <p class="break">De drie vrouwen van Madonna ontvangen u van harte en met persoonlijke zwier</p>
      <p>In restaurant, bar, feestzaal en terras</p>
      <p>bieden we u de ruimte</p>
      <p>Dit alles ter bevordering van het levensgenot</p>
  </div>
</div>
